<section id="banner" class="banner">

  <div class="text-center">
    <div class="banner_text">
      <h1>让专业资源成为您的优势</h1>
      <h2>没有找不到的人，没有做不成的事!

        构建高效的社会协同方式，打造中国最大的财务职业平台!</h2>
      </div>
    </div>
    <a class="button" href="/jobs">财富人生</a>
  </section> <!--End off Banner Sections-->

  <!--Mission Section-->
  <section id="mission" class="text-center">
    <div class="container">
      <h3 class="title">您的财富自由   原来离您这么近</h3>
      <p><em>打通“专业人”与“高需求”通道</em></p></br>
      <p>来这里，没有雇佣关系，只有互助互利！</p>
      <p>来这里，没有心如止水，只有热情洋溢！</p>
      <p>我们建立企业和个人认证、信用评价体系，您可以找到理想的目标；</p>

      <p>我们为企业和个人提供中介支持，交付确认，开票及收款服务；</p>

      <p>我们为企业和个人提供专业高效服务，让您的财富自由更安心！</p>
      <br/>
    </div>
  </section>
  <!--Mission Section-->

  <hr/>

  <!--Service Sction -->
  <section id="why_us" >
    <div class="container">
      <div class="row">
        <div class="service_content_area">
          <!-- Service LEFT SIDE -->
          <div class="col-md-4 service_left wow fadeInLeft">
            <!-- Service -->

            <div class="service_items">
              <div class="row">
                <div class="col-xs-9">
                  <div class="text-left service_left_text">
                    <h4 class="main-color">高效专业</h4>
                    <p>超过1000+个工作项目<br/>您不但可以找到喜欢做的事情，也可以发布想让别人帮忙做的事。</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end Single Service item -->

            <!-- Service -->
            <div class="service_items">
              <div class="row">
                <div class="col-xs-9">
                  <div class="text-left service_left_text">
                    <h4 class="main-color">透明高效</h4>
                    <p>信息透明，双方可见，让大家直接沟通。</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end Single Service item -->

          </div>
          <!-- /END Service LEFT -->

          <!-- PIC IMAGE -->
          <div class="col-md-4 sm-m-top-40 sm-text-center">
            <div class="img">
              <br/><br/><br/>
              <img src="http://ww1.sinaimg.cn/large/006tNc79gy1ff92429aajj30de08xtac.jpg"  alt="Architect Img">
            </div>
          </div>

          <!-- Service RIGHT -->
          <div class="col-md-4 service_right sm-m-top-40" >

            <!-- Service -->
            <div class="service_items">
              <div class="row">
                <div class="col-xs-9">
                  <div class="service_right_text p-l-15 text-right">
                    <h4 class="main-color">高级支持</h4>
                    <p>精准推荐、匹配和撮合，<br/> 行业趋势分析。</p>
                  </div>
                </div>
              </div>
            </div><!-- end Single Service item -->

            <!-- Service -->
            <div class="service_items">
              <div class="row">
                <div class="col-xs-9">
                  <div class="service_right_text p-l-15 text-right">
                    <h4 class="main-color">更多服务</h4>
                    <p>处理合同、交付确认、开票及收款，<br/> 支付保证和垫资服务。</p>
                  </div>
                </div>
              </div>
            </div><!-- end Single Service item -->

          </div><!-- /END Service RIGHT -->
        </div>
      </div> <!--End off row -->
    </div>
  </section> <!--End off Service section -->

  <hr/>


  <section id="how" class="text-center">
    <div class="container">
      <h3 class="title">高效 诚信</h3>
      <p><em>随时 随地 随心</em></p>
      <br/>
      <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-6 aa">
        <a href="/" data-toggle="collapse">
          <!-- <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1fewn8g83npj315o0ulk1g.jpg" class="img-circle person" alt="Random Name" width="255" height="255"> -->
          <img src="http://ww1.sinaimg.cn/large/006tNc79gy1ff8385gu2uj31kw11b4qy.jpg" alt="1" width="180" height="180">
        </a>
        <p class="text-center"><strong></strong></p>

        <div id="how1" class="collapse">
          <p>aaa</p>
          <p>bbb</p>
          <p>ccc</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 aa">
        <a href="/" data-toggle="collapse">
          <!-- <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fewn5sz709j315o0uldqd.jpg" class="img-circle person" alt="Random Name" width="255" height="255"> -->
          <img src="http://ww4.sinaimg.cn/large/006tNc79gy1ff809eysz9j31kw10fu11.jpg" alt="2" width="180" height="180">
        </a>
        <p class="text-center"><strong></strong></p>

        <div id="how2" class="collapse">
          <p>111</p>
          <p>222</p>
          <p>333</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 aa">
        <a href="/" data-toggle="collapse">
          <!-- <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1fewn52shutj315o0ulail.jpg" class="img-circle person" alt="Random Name" width="255" height="255"> -->
          <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ff8355e9zpj31kw11xu1f.jpg" alt="3" width="180" height="180">
        </a>
        <p class="text-center"><strong></strong></p>

        <div id="how3" class="collapse">
          <p>xxx</p>
          <p>yyy</p>
          <p>zzz</p>
        </div>
      </div>
        <div class="col-md-2 col-sm-4 col-xs-6 aa">
          <a href="/" data-toggle="collapse">
            <!-- <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1fewn52shutj315o0ulail.jpg" class="img-circle person" alt="Random Name" width="255" height="255"> -->
            <img src="http://ww1.sinaimg.cn/large/006tNc79gy1ff81p34jb0j31kw11xqve.jpg" alt="4" width="180" height="180">
          </a>
          <p class="text-center"><strong></strong></p>

          <div id="how4" class="collapse">
            <p>xxx</p>
            <p>yyy</p>
            <p>zzz</p>
          </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 aa">
        <a href="/" data-toggle="collapse">
          <!-- <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1fewn52shutj315o0ulail.jpg" class="img-circle person" alt="Random Name" width="255" height="255"> -->
          <img src="http://ww2.sinaimg.cn/large/006tNc79gy1ff91uzl7bqj31kw11yx6s.jpg" alt="5" width="180" height="180">
        </a>
        <p class="text-center"><strong></strong></p>

        <div id="how5" class="collapse">
          <p>xxx</p>
          <p>yyy</p>
          <p>zzz</p>
        </div>
    </div>
    </div>
  </div>
  </section>

  <hr/>

  <section class="push">
    <h3 class="title slogan">没有什么能够阻挡，您对财富自由的向往！</h3>
  </section>


  <section class="banner_bottom">
    <a class="button" href="/jobs">财富人生</a>

  </section>
